body{
    font-family: 'Kiona', sans-serif;
    display: flex;
    justify-content: center;
   
}

.body{
    display: flex;
    flex-direction: column;
}

#boutonenvoi, .delete{
    width: 120px;
    height: 30px;
    border: none;
    margin-left : 1rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.form{
    padding-top: 1rem;
    display:flex;
    justify-content: center;
}
#name::placeholder{
    padding-left: 1rem;
}

#name{
    border: black 1.5px solid;
}

.delete{
    
    width: 150px;
   height: 50px;
    background-color: red; 

}
#boutonenvoi{
     background-color: rgba(0, 133, 252, 1);
}

.menu{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
   
}

.menu a{
    color: white;
    text-decoration: none; 
}